
.container {
    display: flex;
    padding: 5px;
}

.row {
    flex-direction: row;
}

.big {
    width: 250px;
    height: 50px;
}

#greyBack{
    background-color: gainsboro;
}

.greyBackGround{
    background-color: rgb(202, 199, 199);
}

.userInteraction{
    width: 200px;
}

.dropDown{
    width: 205px;
}
